<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div id="line2" class="col-lg-12">
  <div class="cofounder-ceo-image">
    <img src="../static/image/1.png" width="1490px">
    <br><br>
    <center><b> <p>Lifeplus is General Insurance Company Limited is one of the leading private sector general insurance company in India offering insurance coverage for motor, health, travel, home, student travel and more. Policies can be purchased and renewed online as well. Immediate issuance of policy copy online. </p>
     </b> </center>
     <br>
     <img src="../static/image/2.png" width="1490px"><br>
     <img src="../static/image/4.png" width="1490px"><br>
     <img src="../static/image/3.png" width="1490px"><br>
</div>
  <div class="jumbotron text-center" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead">“Every month that you send a check to the life insurance company, you're making a bet with them. Don't worry, one day you'll win.”</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "insurance/footer.html" %}
</body>

</html>
